<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center footer">
            Zakulinariami <script>document.write(new Date().getFullYear())</script>  © Wszelkie prawa zastrzeżone by:
            <a href="https://mkdportfolio.pl" target="_blank" style="color: #212529;">MK</a> 
            <br>
             <a href="/login" style="color: #212529;">panel administracyjny</a> 
        </div>
    </div>

</div>
<br>

<script>
    $(".form-control").on('click', function(){
        $(".form-control").css({
            "background": "none",
            "color": "#212529",
            "box-shadow": "none",
            "border-color": "#212529"           
        });
    });
</script>
</body>
</html>