<footer class="container">
    <div class="row">
        <div class="col-lg-12 text-center footer">
            Cookiety <script>document.write(new Date().getFullYear())</script>  © Wszelkie prawa zastrzeżone by:
            <a href="https://websiteswithpassion.pl" target="_blank" style="color: #212529;">Maciej Solutions</a> 
              
        </div>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
</body>
</html>