<!DOCTYPE html>
<html lang="pl">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167643259-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167643259-1');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title><%= header %></title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-grey" id="mainNav">
        <div class="container">
            <a href="/" class="navbar-brand"> Zakulinariami</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="border:none;">
                <span class="navbar-toggler-icon" style="color:#FBFA04"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-center">
                    <% if(typeof home !== 'undefined'){ %>
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                    <% } %>
                   
                    <% if(typeof recipeSubpage !== 'undefined'){ %>
                        <li class="nav-item">
                            <a class="nav-link active" href="/recipes">Przepisy</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/recipes">Przepisy</a>
                        </li>
                    <% } %>
                   
                    <% if(typeof about !== 'undefined'){ %>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about">O mnie</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">O mnie</a>
                        </li>
                    <% } %>
                  
                    <% if(typeof productSubpage !== 'undefined'){ %>
                        <li class="nav-item">
                            <a class="nav-link active" href="/products">produkty</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">produkty</a>
                        </li>
                    <% } %>
                    
                    <% if(typeof currentUser !== 'undefined'){ %>
    
                        
                            <% if(typeof add !== 'undefined'){ %>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/recipes/new">Dodaj przepis</a>
                                </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/recipes/new">Dodaj przepis</a>
                                </li>
                            <% } %>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Wyloguj</a>
                            </li>
                       
                    <% } %>
                </ul>
    
            </div>
        </div>
    
    
    
    </nav>
