<%- include("partials/headera") %>
                <div class="card">
                    <div class="card-title text-center headerp mb-3">
                        <br>
                        Zapomniałem hasło do Cookiety
                    </div>
                    <div class="card-body">
                        <% if(error && error.length > 0){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= error %>
                            </div>
                        <% } %>
                        <% if(success && success.length > 0){ %>
                            <div class="alert alert-success" role="alert">
                                <%= success %>
                            </div>
                        <% } %>
                        <form action="/forgot" method="post">
                            <div class="input-group mb-3">
                                
                                <span class="input-group-text" id="basic-addon1" style="background: none; color:  #212529; border-color: #212529;"><i class="fas fa-envelope"></i></span>
                              
                                <input type="email" class="form-control" name="email" id="username" placeholder="Podaj swój email" aria-label="Podaj swój email" aria-describedby="basic-addon1" required>
                            </div>
                           
                            <input type="submit" value="Poproś o zmianę hasła" class="btn btn-outline-dark">
                        </form>
                       
                        
                    </div>
                </div>
<%- include("partials/footera") %>