<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/landing.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title><%= header %></title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12" id="landing">
                <h1 class="title_jumbotron">Witaj na Zakulinariami</h1>
                <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#searchRecipe" class="btn btn-outline-light">Wyszukaj przepis</a>
                    <span class="description" style="color: white;">lub</span>
                    <a href="/home" class="btn btn-light">Przejdź do strony głównej</a>
                </div>
                        
                   
            </div>
            
        </div>
    </div>
    <div class="modal fade" id="searchRecipe" tabindex="-1" role="dialog" aria-labelledby="searchRecipe" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title headerp">Wyszukaj przepis</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/recipes/title/search" method="get">
					
                    <span class="description">
                        Wpisz tytuł przepisu
                        <button type="button" style="background: transparent;border: none;" data-container="body" data-toggle="popover" data-placement="right" data-content="Nie pamiętasz dokładnie tytułu przepisu? Żaden problem. Wystarczy, że wpiszesz słowo kluczowe lub ciąg liter">
                            <i class="fas fa-info-circle" style="color: #212529;"></i>
                        </button>
                    </span>
                        <input type="search" id="news" autocomplete="off" class="form-control" name="title" placeholder="Tytuł przepisu" aria-label="Tytuł przepisu" aria-describedby="basic-addon2">
                        
                        <br>
                        <input type="submit" value="Szukaj przepis" class="btn btn-dark">
                        
					
				</form>
              
                
            </div>
           
          </div>
        </div>
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>
</body>
</html>