<%- include("partials/headera") %>
                    <div class="card">
                        <div class="card-title text-center headerp">
                            <br>
                            Rejestracja do Cookiety
                        </div>
                        <div class="card-body">
                            <% if(error && error.length > 0){ %>
                                <div class="alert alert-danger" role="alert">
                                    <%= error %>
                                </div>
                            <% } %>
                           
                            <form action="/register" method="post"  enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1" style="background: none; color:  #1F2428; border-color: #1F2428;"><i class="fas fa-user"></i></span>
                                    
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Nazwa użytkownika" aria-label="Nazwa użytkownika" aria-describedby="basic-addon1" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1" style="background: none; color:  #1F2428; border-color: #1F2428;"><i class="fas fa-user"></i></span>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Imię" aria-label="Imię" aria-describedby="basic-addon1" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1" style="background: none; color:  #1F2428; border-color: #1F2428;"><i class="fas fa-user"></i></span>
                                    
                                    <input type="text" class="form-control" name="surname" id="surname" placeholder="Nazwisko" aria-label="Nazwisko" aria-describedby="basic-addon1" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1" style="background: none; color:  #1F2428; border-color: #1F2428;"><i class="fas fa-envelope"></i></span>
                                    
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1" style="background: none; color:  #1F2428; border-color: #1F2428;"><i class="fas fa-lock"></i></span>
                                    
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Hasło" aria-label="Hasło" aria-describedby="basic-addon1" required>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Wybierz zdjęcie profilowe</label>
                                    <input class="form-control" type="file" id="formFile" accept="image/*" name="profile" required>
                                </div>
                                <div class="form-check" style="margin: 10px 0;">
                                    <input class="form-check-input" type="checkbox" value="" id="policy" required>
                                    <label class="form-check-label" for="policy">
                                        Zapoznałem się i akceptuję <a href="/policy">politykę prywatności i regulamin</a>
                                    </label>
                                </div>
                                
                                <input type="submit" value="Dodaj konto" class="btn btn-dark" style="background: none; color:#1F2428; border-color:#1F2428;">
                            </form>
                        </div>
                    </div>
<%- include("partials/footera") %>