<%- include("partials/headera") %>
                <div class="card">
                    <div class="card-title text-center headerp">
                        <br>
                        Resetowanie hasła do Cookiety
                    </div>
                    <div class="card-body">
                        <form action="/reset/<%= token %>" method="post">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Hasło" aria-label="Hasło" aria-describedby="basic-addon1" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon2"><i class="fas fa-redo"></i></span>
                                <input type="password" class="form-control" name="confirm" id="password" placeholder="Powtórz hasło" aria-label="Powtórz hasło" aria-describedby="basic-addon1" required>
                            </div>
                            <input type="submit" value="Resetuj hasło" class="btn btn-outline-dark">
                        </form>
                        <br>
                        <div class="justify-content-center">
                            <a href="/register" class="text-center" style="color: #212529;">Nie masz jeszcze konta? Zarejestruj się!</a>
                        </div>
                        
                    </div>
                </div>
<%- include("partials/footera") %>