body::before {
    content: '';
    position: fixed;
    inset: 0;

    background-image: url("landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: -1;
}


body,
html {
    margin:0;
	padding:0;
    font-family: "DM Sans", sans-serif;
 
}
.headerp {
    font-size: 1.728rem;
    font-weight: 700;
    color: #1F2428;
    font-family: "Playfair Display", serif;
}
.description {
    font-size: 19px;
    margin-left: 8px;
    margin-right: 8px;
    color: #1F2428;
}
.container {
    filter: none;
}

input[type=search]::placeholder {
    
    color:#1F2428;
}

input[type=search] {
    color: #1F2428;
}

.title_jumbotron {
    font-size: 42px;
    font-weight: 400;
    color: white;
    text-align: center;
}

#landing {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 992px) {
    body::before {
        background-image: url("food_mobile.jpg");
        background-attachment: scroll;
        background-position: center;
    }

	.card {
        margin-top: 50%;
    }
}