body:before {
	content: '';
    background-size: cover;
    background-position: center; 

	background: url(woman.jpg) no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	position: fixed;
	
}

body,
html {
    margin:0;
	padding:0;
    font-family: "DM Sans", sans-serif;
}
.container {
    filter: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.headerp {
    font-family: "Playfair Display", serif;
    font-size: 23px;
    font-weight: 700;
    color: #1F2428;
}

.links {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    margin-top: 15px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number] {
    background: none;
    border: 1px solid #1F2428;
   
    color: #1F2428;
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder {
    
    color: #1F2428;
}

.card {
    opacity: 0.9;
}

.form-control:focus {
    box-shadow: none
}

a {
    color: #6F8F7A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title_r {
  font-size: 45px;
  font-weight: 700;
  
}