body {
    background: #E3E6E1;
    font-family: "DM Sans", sans-serif;
}
.customContainer {
    margin-top: 80px;
}
#mainNav .nav-link {
    text-transform: uppercase;
    color: #f5f6fa;
}

#mainNav .nav-link:hover,
#mainNav .active {
    color: #6F8F7A;
    text-decoration: none;
}
.navbar-brand {
    text-transform: uppercase;
    color: #f5f6fa;
    text-shadow: #6F8F7A 4px 1px 12px;
}
.navbar-brand:hover {
    text-decoration: none;
}
.dropdown-item.active {
    background: #6F8F7A;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
}

.header {
    font-size: 40px;
    font-weight: 700;
    color: #1F2428;
}
.headerp {
    font-size: 35px;
    font-weight: 700;
    color: #1F2428;
    font-family: "Playfair Display", serif;
    margin: 10px 0 20px 0;
}

.modal-title.headerp {
    margin: 0;
}
.title_link {
    color: #1F2428;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

.title_link:hover {
    color: #C3A46B;
    text-decoration: none;
}

footer {
    margin: 25px;
}

a {
    color: #506858;
    text-decoration: none;
}

a:not(.btn, .title_link, .navbar-brand, .dropdown-item):hover {
    text-decoration: underline;
}

.more_details_link {
    color: #6F8F7A;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.more_details_link:hover {
    color: #6F8F7A;
    text-decoration: underline;
}

.link_div {
    margin-top: 10px;
}


.card-img-top.show {
    max-height: 500px;
    object-fit: cover;
}

.btn-green {
    background: #6F8F7A; 
    border-color: #6F8F7A; 
    color: #f5f6fa;
}

.btn-green:hover {
    background: #506858;
    border-color: #506858;
    color: #f5f6fa;
}

.btn-green-search {
    border-radius: 0 5px 5px 0;
}

.modifyButtonsContainer {
    display: flex;
    gap: 10px; 
    margin-bottom: 10px;
}

i.far.fa-clock,
i.far.fa-user,
i.far.fa-lightbulb,
i.fas.fa-shopping-bag,
i.fas.fa-utensils,
i.fas.fa-comments,
i.fas.fa-tag {
    color: #6F8F7A;
}

.report_button {
    background: none;
    border: none;
    color: #B85A6A;
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_post {
    height: 25px;
    width: 25px;
    border:1px solid #f5f6fa;

}

.badge {
    margin-bottom: 10px;
}

.image {
    height: 310px;
}

.bg-grey {
    background: #1F2428;
}
#name {
    font-size: 25px;
    font-weight: 700;
    color: #1F2428; 
}
.description {
    font-size: 19px;
    
    color: #1F2428;
}

.description_comment {
    font-size: 17px;
    top: 30%;
    color: #1F2428;
}
.info {
    font-size: 12px;
   
    color: #1F2428;
}

.footer {
    font-size: 13px;
   
    color: #1F2428;
}

.title {
    font-size: 28px;
    font-weight: 700;
    color: #1F2428;
}

.title.show {
    font-size: 30px;
    font-family: "Playfair Display", serif;
}


.title_new {
    font-size: 35px;
    font-weight: 700;
    color: #1F2428;
    font-family: "Playfair Display", serif;
}

.description_new {
    font-size: 20px;
    color: #1F2428;
}

.preparation {
    font-size: 18px;
    font-weight: 700;
    color: #1F2428;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=search] {
    background: #f5f6fa;
    color: #1F2428;
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=search]::placeholder {
    
    color: #1F2428;
}



.date_comment {
    text-transform: uppercase;
    color: #1F2428;
    
    left: 0;
    
    letter-spacing: 0.1em;
}
.informations {
   
    color: #1F2428;
    font-weight: 700;
}
.date {
    text-transform: uppercase;
    color: #1F2428;
    font-size: 13px;
    letter-spacing: 0.1em;
}
.card-title {
    padding-left: 20px;
    padding-right: 20px;
}
#description,
#select {
    background: #f5f6fa;
    color: #1F2428;
}

#description::placeholder,
#comment::placeholder {
    color: #1F2428;
}

.btn-like {
    background: none;
    color: #1F2428;

    border: none;
}

.msg_cotainer{
   
    
   
    background: none;
    padding: 10px;
   
    max-width: 100%;
}
.author {
    
    left: 10%;
    bottom: -15px;
    font-size: 17px;
    bottom: 30%;
    
    color: #1F2428;
}

.img_cont_msg{
    height: 40px;
    width: 40px;
}

div .nickname {
    background: lightgreen;
    height: 40px;
    width: 40px;
}

div .nickname:nth-of-type(2n) {
    background: lightsalmon;
   
}
.radio {
    color: #1F2428;
    margin-right: 8px;
    font-size:17px;
    position: relative;
    align-items: center;
    display:inline-flex;
    
}
.jumbotron {
    background: url('https://zakulinariamifood.files.wordpress.com/2020/02/lily-banse-yhswy6uqvk-unsplash.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    content: '';
    
}
.title_jumbotron {
    font-size: 42px;
    font-weight: 100;
    color: white;
    text-align: center;
}
.radios {
    margin-bottom: 11px;
}
input[type=radio] {
    opacity:0;
        position:absolute;

}
.radioButton {
    margin-right: 10px;
        width:20px;
        height:20px;
        border-radius: 50%;
        border: 2px solid #1F2428;
   
}

input:checked + .radioButton {
    background: #1F2428;
        box-shadow: inset 0 0 0 3px white;

}
