<%- include("../partials/header") %>
    
        <div class="container customContainer">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-title text-center title_new" id="name">
                            <br>
                            Dodaj nowy przepis
                        </div>
                        <div class="card-body">
                                <form action="/recipes" method="post" enctype="multipart/form-data">
                                    <p class="description_new">Tytuł przepisu</p>
                                    <input type="text" name="title" class="form-control" placeholder="Tytuł przepisu" required>
                                    <br>
                                    <p class="description_new">Ilość godzin potrzebnych do przygotowania</p>
                                    <input type="number" name="hours" min="0" max="24" class="form-control" placeholder="Godziny" required>
                                    <br>
                                    <p class="description_new">Ilość minut potrzebnych do przygotowania</p>
                                    <input type="number" name="minutes" min="0" max="60" class="form-control" placeholder="Minuty" required>
                                    <br>
                                    <p class="description_new">Ilość porcji</p>
                                    <input type="number" name="plates" class="form-control" placeholder="Porcje" required>
                                    <br>
                                    <p class="description_new">Opis przepisu</p>
                                    <textarea name="description" id="description" class="form-control" placeholder="Opis przepisu"></textarea>
                                    <br>
                                    <p class="description_new">Poziom zaawansowania</p>
                                    <select name="level" id="select" class="form-control" required>
                                        <option>Łatwy</option>
                                        <option>Średni</option>
                                        <option>Zaawansowany</option>
                                    </select>
                                    <br>
                                    <p class="description_new">
                                        Zdjęcie główne przepisu
                                        <button type="button" style="background: transparent;border: none;" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Najlepiej będzie, jeśli będziesz używać poziomego zdjęcia">
                                            <i class="fas fa-info-circle" style="color: #212529;"></i>
                                        </button>
                                    </p>
                                    <input class="form-control" type="file" name="profile" accept="image/*" required>
                                    <br>
                                    <br>
                                    <ul class="description_new">
                                        Poradnik formatowania tekstu opisu przepisu:
                                        <li class="informations" style="font-size:15px">pogrubienie -  <pre style="color:#212529"> <code> <span> &lt;strong&gt; wyraz lub wyrażenie &lt;/strong&gt; </span> </code>  </pre></li>
                                        <li class="informations" style="font-size:15px">pochylenie -  <pre style="color:#212529"> <code> <span> &lt;em&gt; wyraz lub wyrażenie &lt;/em&gt; </span> </code>  </pre></li>
                                        <li class="informations" style="font-size:15px">podkreślenie -  <pre style="color:#212529"> <code> <span> &lt;ins&gt; wyraz lub wyrażenie &lt;/ins&gt; </span> </code>  </pre></li>
                                        <li class="informations" style="font-size:15px">przekreślenie -  <pre style="color:#212529"> <code> <span> &lt;del&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre></li>
                                        <li class="informations" style="font-size:15px">akapity -  <pre style="color:#212529"> <code> <span> &lt;br&gt; </span> </code>  </pre></li>
                                    </ul>
                                    <br>
                                    <input type="submit" value="Dodaj przepis" class="btn btn-outline-dark">
                                </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
<%- include("../partials/footer") %>