<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br>
                    Dodaj nowy produkt
                </div>
                <div class="card-body">
                        <form action="/products" method="post" enctype="multipart/form-data">
                            <p class="description_new">Tytuł produktu</p>
                            <input type="text" name="title" class="form-control" placeholder="Tytuł produktu">
                            <br>
                           
                            <p class="description_new">Opis produktu</p>
                            <textarea name="description" id="description" class="form-control" placeholder="Opis produktu"></textarea>
                            <br>
                            <p class="description_new">Zdjęcie główne produktu</p>
                            <input type="file" name="profile">
                            <br>
                            <br>
                            <input type="submit" value="Dodaj produkt" class="btn btn-outline-dark">
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include("../partials/footer") %>