<%- include("../partials/header") %>

<div class="container customContainer">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br>
                    Dodaj krok do przygotowania <%= recipe.title %>
                </div>
                <div class="card-body">
                        <form action="/recipes/<%= recipe._id %>/preparations" method="post">
                            
                            <p class="description_new">Opis kroku przygotowania</p>
                            <textarea name="text" id="description" class="form-control" placeholder="Krok przygotowania" required></textarea>
                            <br>
                           
                            <input type="submit" value="Dodaj krok przygotowania" class="btn btn-outline-dark">
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include("../partials/footer") %>